<section id="corruption" class="dark">
    <div class="container">
        <div class="row">
            <div class="col"><img src="assets/trump-manafort.jpg" alt="Donald Trump and Paul Manafort" /></div>
            <div class="col">
                <h2>Mia Love <em>defends</em> Trump's Culture of Corruption</h2>
                <h3>And participates in it herself!</h3>
                <span class="heading__separator"></span>
            </div>
        </div>
        <p>Donald Trump's Campaign Manager, Personal Attorney, National Security Advisor, Deputy Campaign Manager, and Foreign Policy Advisor have all been charged with felonies.</p>
        <p>His personal attorney admitted in court that he made an illegal payment to a porn star to keep her affair with Trump quiet, and Trump knew about the payment!</p>
        <p><a href="https://www.axios.com/2018-midterm-elections-republicans-preparation-investigations-180abf7b-0de8-4670-ae8a-2e6da123c584.html">Leaked documents</a> show Congressional Republicans know about the corruption that they should be investigating, but don't, in order to <span class="highlight">defend</span> Trump's Culture of Corruption.
        <p>Mia Love is participating in the corruption herself. CNN revealed that <a href="https://www.cnn.com/2018/09/10/politics/mia-love-campaign-funds/index.html">the Love campaign has raised over $1 MILLION in illegal campain contributions!</a></p>
        <p><b>These are NOT the Utah Values we sent Mia Love to Washington to represent!</b></p>
        {% include 'home/scrolltotop.njk' %}
    </div>
</section>