<section id="medicaid">
    <div class="container">
        <div class="row">
            <div class="col"><img src="assets/medicare-form.jpg" alt="medicare form" /></div>
            <div class="col">
                <h2>Mia Love <span class="highlight">defends</span> slashing Medicare & Medicaid</h2>
                <h3>Raising costs for millions of middle-class families</h3>
                <span class="heading__separator"></span>
            </div>
        </div>
        <p>Mia Love voted for Trump's plan to slash more than 30% of the funding from Medicaid, a program used primarily by children, the disabled, and the elderly. These cuts would affect 40% of all children and <a href="http://time.com/money/4649499/donald-trump-wants-to-cut-medicaid-heres-what-the-program-actually-does/">millions of middle-class families who rely on Medicaid</a> to help support long-term care for their children and elderly relatives.</p>
        {% include 'home/scrolltotop.njk' %}
    </div>
</section>