<section class="center">
    <h2>Spread the word: <br><b>Mia Love <span class="highlight">defends</span> Donald Trump</b></h2>
    <span class="heading__separator"></span><br>
    <a class="button" href="https://www.facebook.com/sharer/sharer.php?u=www.mialovedefendstrump.com"><i class="fa fa-facebook"></i></a>
    <a class="button" href="http://www.twitter.com/share?url=http://www.mialovedefendstrump.com"><i class="fa fa-twitter"></i></a>    
    {% include 'home/scrolltotop.njk' %}
</section>