<section class="medium center">
    <h2>Sign a Letter to <span class="highlight">Mia Love</span></h2>
    <span class="heading__separator"></span>
    <p>Let Mia Love know that you want her to represent Utah Values in Congress, not to just <span class="highlight">defend</span> Donald Trump's agenda.</span></p>
    <div class="calloutbox left">
        <h4>To: Mia Love</h4>
        <h4>Re: Standing up for Utah Values</h4>
        <p>We sent you to Congress to represent <span class="highlight">Utah Values</span>. You should stand up for us, not Donald Trump. We are concerned that you care more about <span class="highlight">defending</span> the Trump Agenda than supporting your constituents and our values.</p>
        <p>Sincerely,</p>
        <p>Concerned Utahns</p>
    </div>
    <div class="container center">
        <form name="basic-letter" method="POST" action="/basic-letter-success.html" netlify-honeypot="bot-field" netlify>
            <p class="hidden">
                <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
            </p>
            <p>
                <label>Your Name: <input type="text" name="name" /></label>   
            </p>
            <p>
                <label>Your Email: <input type="email" name="email" /></label>
            </p>
            <div style="display: inline-block; margin: 0 auto" data-netlify-recaptcha></div>
            <p>
                <button type="submit">Sign</button>
            </p>
        </form>
        <div class="highlight disclaimer">We will only use your name and email to sign the letter to Mia Love. We will not using your email for marketing, regular communications, or provide it to any other group or organization.</div>

    </div>
</section>