<section class="dark-rough-bg" id="taxscam">
    <div class="container">
            <h2>Mia Love <span class="highlight">defends</span> the Tax Scam</h2>
            <h3>It was just a hand out to wealthy corporate donors</h3>
            <span class="heading__separator"></span>
        <div class="row">
            <div class="col"><img src="assets/profitvwages.jpg" alt="profits vs wages" /></div>
            <div class="col">
                
                <p>Some content on this topic.</p>
            </div>
        </div>
    </div>
    {% include 'home/scrolltotop.njk' %}
</section>