<section class="dark-rough-bg" id="taxscam">
    <div class="container">
            <h2>Mia Love <em>defends</em> the Tax Scam</h2>
            <h3>It was just a handout to wealthy corporate donors</h3>
            <span class="heading__separator"></span>
        <div class="row">
            <div class="col"><img src="assets/real-wages.png" alt="wages falling after tax cut" /></div>
            <div class="col">
                
                <p>Mia Love <a href="https://love.house.gov/press-releases/rep-love-applauds-passage-of-tax-cuts-and-jobs-act/">claims</a> the tax cuts she voted for last year were for "working Utahns." Unfortunately, the results show <a href="https://www.bloomberg.com/view/articles/2018-07-18/trump-s-tax-cut-hasn-t-done-anything-for-workers?utm_source=twitter&utm_medium=social&utm_content=business&utm_campaign=socialflow-organic&cmpid%3D=socialflow-twitter-view&cmpid=socialflow-twitter-business">workers have seen wages drop</a> while wealthy stock holders have made <b>$700 BILLION</b> in stock buybacks.</p>
                <p>These cuts <a href="https://www.nbcnews.com/politics/congress/tax-cuts-spending-raise-deficit-1-trillion-2019-n864041">will raise the federal deficit by <b>$1 TRILLION</b> next year!</a></p>
                <p>What ever happened to "fiscal responsibility"?</p>
            </div>
        </div>
    </div>
    {% include 'home/scrolltotop.njk' %}
</section>