{% extends "shared/base.njk" %}

{# base template variables #}
{% set title = "Mia Love Defends Trump" %}
{% set fbimage = "http://www.mialovedefendstrump.com/assets/facebook-graph-image.png" %}

{# hero template variables #}
{% set heroheader = 'Mia&nbsp;Love <em>defends</em> Donald Trump' %}
