{% extends "templates/base.njk" %}

{% set title = "Mia Love Defends Trump" %}
{% set fbimage = "http://www.mialovedefendstrump.com/assets/facebook-graph-image.png" %}

{% block content %}
    <section class="light center">
        <h2>Thank you</h2>
        <span class="heading__separator"></span>
        <p>We will add your name to the list of concerned Utahns who want Mia Love to <span class="highlight">stand up for Utah Values</span>.</p>
        <p><a href="index.html" class="button">Take me back to the site.</a></p>
    </section>
{% endblock %}
