{% extends "home/template.njk" %}

{% block hero %}{% endblock %}

{% block content %}
   <img src="assets/facebook-graph-image.png" /><br>
   <img src="assets/fb-ads/cultureofcorruption.png" /><br>
   <img src="assets/fb-ads/familyseparations.png" /><br>
   <img src="assets/fb-ads/slashingmedicaid.png" /><br>
   <img src="assets/fb-ads/taxscam.png" /><br>
   <img src="assets/fb-ads/trumpagenda.png" /><br>
{% endblock %}
