{% extends "templates/base.njk" %}

{% set title = "Mia Love Defends Trump" %}
{% set fbimage = "http://www.mialovedefendstrump.com/assets/facebook-graph-image.png" %}

{% block content %}
    {% include 'home/hero.njk' %}
    {% include 'home/share.njk' %}
    {% include 'home/rubberstamp.njk' %}
    {% include 'home/medicaid.njk' %}
    {% include 'home/voting.njk' %}
    {% include 'home/taxscam.njk' %}
    {% include 'home/signletter.njk' %}
    {% include 'home/borderseparation.njk' %}
    {% include 'home/sharewithfriends.njk' %}
{% endblock %}