{% extends "home/template.njk" %}

{% block content %}
    {% include 'home/rubberstamp.njk' %}
    {% include 'home/medicaid.njk' %}
    {% include 'home/borderseparation.njk' %}
    {% include 'home/voting.njk' %}
    {% include 'home/taxscam.njk' %}
    {% include 'home/signletter.njk' %}
    {% include 'home/sharewithfriends.njk' %}
{% endblock %}